<!DOCTYPE html>
<html lang="en">
<head>
    <title>FDG</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>{{ currentYear }} Fantasy Disc Golf</h1>
<div class="standings">
    <h3>Standings</h3>
    <table>
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Cash</th>
        </tr>
        {% for s in standings %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ s.name }}</td>
            <td>{{ "${:,.0f}".format(s.cash) }}</td>
          </tr>
        {% endfor %}
    </table>
</div>
<div class="weekly_results">
    <h3>Weekly Results</h3>
    <table>
        <tr>
            <th>Week</th>
            <th>Tournament</th>
            {% for h in weeklyHeader %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
            {% for w in weekly %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ w[0] }}</td>
                    {% for d in w[1:] %}
                        <td>{{ "${:,.0f}".format(d) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <img src="weekly.png", alt="weekly result plot">
</div>
<div class="lineups">
    <h3>Lineups</h3>
    {% for coach in lineups %}
        <h4>{{ coach }}</h4>
        <div class="overflow-table">
                <table class="lineups">
                    <tr>
                        <th>Tournament</th>
                        <th>Start 1</th>
                        <th>Start 2</th>
                        <th>Start 3</th>
                        <th>Start 4</th>
                        <th>Start 5</th>
                        <th>Start 6</th>
                        <th>Bench 1</th>
                        <th>Bench 2</th>
                        <th>Bench 3</th>
                        <th>Bench 4</th>
                    </tr>
                        {% for l in lineups[coach] %}
                            <tr>
                                <td>{{ l.tournament }}</td>

                                {% for p in l.starters %}
                                    <td><p>{{ p[0] }}</p><p>{{ "${:,.0f}".format(p[2]) }} ({{ p[1] }})</p></td>
                                {% endfor %}

                                {% for p in l.bench %}
                                    <td><p>{{ p[0] }}</p><p>{{ "${:,.0f}".format(p[2]) }} ({{ p[1] }})</p></td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                </table class="lineups">
        </div>
    {% endfor %}
</div>
<div class="player_totals">
    <h3>Player Season Totals</h3>
    <table>
        <tr>
            <th>Player</th>
            <th>Total Cash</th>
        </tr>
            {% for p in playerTotals %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ "${:,.0f}".format(p.cash) }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
</body>
</html>